<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @self_service_customer.string %>
</p>


<%= link_to 'Edit', edit_self_service_customer_path(@self_service_customer) %> |
<%= link_to 'Back', self_service_customers_path %>
